{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}
{% block page_header %}ویرایش نمایه{% endblock page_header %}
{% block stylesheets %}
    <title>ویرایش نمایه</title>
    <style>
        input[type="file"]{
            display: none;
        }   
        .hide{
            display: none
        }
        .custom-file-upload{
            background-color: #98a8b4;
            display: block;
            text-align: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            right: 128px;
            top: 178px;
            }
        .custom-file-upload i {
            padding: 6px;
            font-size: 27px;
            color:white;
        }
    </style> 
{%endblock%}
{% block content %}
<!-- form -->
<div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
    <!--div-->
    <div class="card">
        <div class="card-body p-5">
            <div class="row justify-content-between">
                <h4 class="main-content-label mg-b-5 mb-3 pt-2">نمایه من</h4>
            </div>
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex wd-200p py-4">
                    <div class="welcome">
                        <img style="width: 120px;" class="avatar rounded-circle d-block mx-auto" id="display-img" alt="" src="{{avatar}}" />
                    </div>
                    <div class='hide'>
                        {{form.avatar}}
                    </div>
                    <label for="id_avatar" class="custom-file-upload">
                        <i class="las la-pen"></i>
                    </label>    
                    <div class="m-3 p-3 my-auto">
                    <h3>{{user.get_full_name}}</h3>
                    <h4>{{user.username}}</h5> 
                    </div>
                </div>
                <div class="card-footer p-0"></div>
                <div class="py-4">
                    <h5>اطلاعات شخصی</h5>
                    <div class='row container p-0'>
                        <div class='col-6  py-2'>
                            <span class="form-control-label m-0">{{form.first_name.label_tag}}</span>
                            {{form.first_name|attr:"type:text"|add_class:'form-control' }}
                        </div>
                        <div class='col-6 py-2'>
                            <span class="form-control-label m-0">{{form.last_name.label_tag}}</span>
                            {{form.last_name|attr:"type:text"|add_class:'form-control' }}
                        </div>
                        {% comment %} <div class='col-6  py-2'>
                            <span class="form-control-label m-0">{{form.phone.label_tag}}</span>
                            {{form.phone|attr:"type:text"|add_class:'form-control' }}
                        </div> {% endcomment %}
                        <div class='col-6  py-2'>
                            <span class="form-control-label m-0">{{form.email.label_tag}}</span>
                            {{form.email|attr:"type:email"|add_class:'form-control' }}
                        </div>
                        <div class='col-6  py-2'>
                            <span class="form-control-label m-0">{{form.username.label_tag}}</span>
                            {{form.username|attr:"disabled:''"|attr:"type:text"|add_class:'form-control' }}
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0"></div>
                <div class='tx-center'>
                    <button class="btn btn-main-primary px-4 my-4">ثبت </button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}

{% block scripts %}
    <script>
        const imgInput = document.querySelector("#id_avatar")
        const displayImg = document.querySelector("#display-img")
        imgInput.addEventListener('change',
        (event)=>{
            const imgObject = event.target.files[0]
            displayImg.src = URL.createObjectURL(imgObject)})
    </script>
{%endblock%}



